

@{
    ViewBag.Title = "HDDV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta property="fb:admins" content="1373014969" />
    <meta property="fb:app_id" content="1677748725772019" />
    <title>Hướng dẫn đặt vé| PONOBus ID</title>


    <link rel="stylesheet" id="theme-style-css" href="/Content/css/style.min.css" type="text/css" media="all" />
    <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

</head>
<body style="background: #fff;">
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
    <div id="page">
        <section id="body-content">

            <div style="background: #FFF url(bg-aboutus.jpg) no-repeat top center" class="single-content">
                <div class="container inner-single-content bg-white">
                    <p class="text-center quote">Hướng dẫn đặt vé</p>


                    <div class="text-center" id="intruction_page">

                        <img src="/Content/img/HUONGDANDATVE-21.png" style="margin-bottom: 30px;" />
                        <img src="/Content/img/HUONGDANDATVE-02.png" style="margin-bottom: 30px;" />
                        <img src="/Content/img/hddv/login.png" style="margin-bottom: 30px;" />
                        <img src="/Content/img/hddv/1.png" style="margin-bottom: 30px;" />
                        <img src="/Content/img/hddv/2.png" style="margin-bottom: 30px;" />
                        <img src="/Content/img/hddv/3.png" style="margin-bottom: 30px;" />
                        <img src="/Content/img/hddv/4.png" style="margin-bottom: 30px;" />
                        <img src="/Content/img/hddv/5.png" style="margin-bottom: 30px;" />
                        <img src="/Content/img/hddv/6.png" style="margin-bottom: 30px;" />
                        <img src="/Content/img/hddv/7.png" style="margin-bottom: 30px;" />
                        <img src="/Content/img/HUONGDANDATVE-21.png" style="margin-bottom: 30px;" />




                    </div>
                </div>
            </div>
        </section>





    </div>

</body>
</html>

