@model List<Models.Framework.TUYEN_DUONG>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no" />

        <title>Giá vé PONO|Trang chủ</title>
        <link rel="stylesheet" href="/Content/css/SalsaCalendar.min.css">

    </head>
    <body>
        

        <section id="body-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-ms-12">
                        <div>
                            <!-- Nav tabs -->

                            <!-- Tab panes -->
                            <div class="tab-content">
                                
                                <div role="tabpanel" class="tab-pane" id="profile">

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-ms-12">
                        <div id="slider-home" class="flexslider">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                                    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item" style="height:400px;">
                                        <img src="/Content/image/banner1.png" alt="Thiết kế 1" style="width:100%; height:400px;">
                                        <!--

                                        -->
                                    </div>
                                    <div class="item active"  style="height:400px;">
                                        <img src="/Content/image/banner2.png" alt="Thiết kế 2" style="width:100%; height:400px;">
                                        <!--

                                        -->
                                    </div>
                                    <div class="item"  style="height:400px;">
                                        <img src="/Content/image/banner3.png" alt="Thiết kế 3" style="width:100%; height:400px;">
                                        <!--

                                        -->
                                    </div>
                                </div> <a class="left carousel-control" href="http://hocwebgiare.com/#myCarousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="http://hocwebgiare.com/#myCarousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>

        <section class="br-download-v2">
            <div class="container">
                <div class="col-md-6 describe-part">
                    <p>
                        *** Quý hành khách có thể đặt vé qua tổng đài phục vụ <strong>24/24</strong> của chúng tôi
                        (kể cả thứ 7 và Chủ Nhật): <strong>1900 8198</strong> hoặc mua vé tiện lợi ngay trên chiếc
                        điện thoại thông minh của quý vị thông qua <strong>app PONO Bus</strong> trên cả hai hệ điều
                        hành phổ biến nhất hiện nay là IOS và Android
                    </p>
                </div>
                <div class="col-md-3 col-ms-6 hotline-part">
                    <h3>Tổng đài đặt vé và<br /> chăm sóc khách hàng</h3>
                    <span>1900 8198<sub><img src="/Content/img/private/img247-10.png" /></sub></span>

                </div>
                <div class="col-md-3 col-ms-6 download-part">
                    <img class="phone-img" src="/Content/img/private/imgip-13.png" />
                    <div class="download-button-part">
                        <p>TẢI APP PONO BUS</p>
                        <a target="_blank" href="" tppabs="https://itunes.apple.com/us/app/futa/id1049039667"><img src="Content/img/private/bttnapple-11.png" /></a>

                        <a target="_blank" href=""><img src="/Content/img/private/bttngoogle-12.png" /></a>

                    </div>
                </div>
            </div>
            <div class="container">

                <div class="col-md-6">


                    <a href="#" onclick="Updating()"><img src="/Content/img/banner tet 2018 web-06.png" /></a>
                </div>
                <div class="col-md-6">


                    <a href="#" onclick="Updating()"><img src="/Content/img/banner tet 2018 web-07.png" /></a>
                </div>
            </div>
            <div class="container" style="padding-top:30px;">

                <div class="col-md-12" style="margin-bottom:0px;">
                    <a href="#" onclick="Updating()"><img src="/Content/img/banner web 1110x331px-03.png" /></a>


                </div>
                <div class="col-md-6">


                </div>
                <div class="col-md-6">


                </div>
            </div>
            <div class="container" style="padding-top:30px; margin-top:0px">

                <div class="col-md-12" style="margin-bottom:0px;">
                    <a href="#" onclick="Updating()"><img src="/Content/img/bannerwebtrianbactai --01.png" /></a>


                </div>
                <div class="col-md-6">


                </div>
                <div class="col-md-6">


                </div>
            </div>











        </section>

        <section class="container" id="star-city">
            <h3 class="heading"><i class="fa fa-file-text" aria-hidden="true"></i> Khởi hành từ các thành phố lớn</h3>
            <div class="row">
                <div class="col-md-4 startpoint-block">
                    <img src="/Content/img/private/webfutabusline-01.png" />
                    <div class="startpoint-text">
                        <p>Khởi hành từ: <span>Sài Gòn</span><i> (Xem bản đồ)</i></p>
                        <p>Hotline: <span>1900 6067</span></p>
                        <a href="/Home/SaiGon" >Chi tiết</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 startpoint-block">
                    <img src="/Content/img/private/webfutabusline-02.png" />
                    <div class="startpoint-text">
                        <p>Khởi hành từ: <span>Đà Lạt</span><i> (Xem bản đồ)</i></p>
                        <p>Hotline: <span>02633 58 58 58</span></p>
                        <a href="/Home/DaLat">Chi tiết</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 startpoint-block">
                    <img src="/Content/img/private/webfutabusline-03.png" />
                    <div class="startpoint-text">
                        <p>Khởi hành từ: <span>Nha Trang</span><i> (Xem bản đồ)</i></p>
                        <p>Hotline: <span>02583 812 812</span></p>
                        <a href="/Home/NhaTrang">Chi tiết</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </section>

        <section class="container" id="more-info">
            <h3 class="heading"><i class="fa fa-file-text" aria-hidden="true"></i> Thông tin cần biết</h3>
            <div class="row">
                <div class="col-md-6 thongtin-block">
                    <img src="/Content/img/private/imgqdchung-17.png" />
                    <div class="thongtin-text">
                        <h3>Những quy định chung</h3>
                        <p>
                            Công ty xe khách PONO khuyến khích quý khách đặt chỗ trước nhằm đảm bảo luôn có vị
                            trí ghế cho quý vị, tuy nhiên quý vị vẫn có thể đến tại bến để đi mà không cần gọi đặt chỗ.
                            Quý hành khách có thể mua vé bằng các hình thức linh hoạt nhưng vẫn đảm bảo...
                        </p>
                        <a href="#" onclick="Updating(); return false;">Chi tiết</a>
                    </div>
                </div>
                <div class="col-md-6 thongtin-block">
                    <img src="/Content/img/private/imgvchanghoa-18.png" />
                    <div class="thongtin-text">
                        <h3>Vận chuyển hàng hóa</h3>
                        <p>
                            Mỗi hành khách chỉ được mang theo 1 vali với kích thước trung bình và 1 túi hành lý
                            với kích cỡ xách tay. Hành lý được chấp thuận bao gồm vali, túi vải, thùng với những
                            khóa an toàn, mọi sự mất mát bên trong hành lý khi có khóa an toàn chúng tôi không chịu
                            trách nhiệm...
                        </p>
                        <a href="#" onclick="Updating(); return false;">Chi tiết</a>
                    </div>
                </div>

            </div>

        </section>

        <script type="text/javascript">
            function Updating() {
                alert("Trang này đang được cập nhật. Vui lòng quay lại sau.");
            }
        </script>
        
    </body>
    </html>
