
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta property="fb:admins" content="1373014969" />
    <meta property="fb:app_id" content="1677748725772019" />
    <title>Đăng nhập | PONOBus ID</title>


    <link rel="stylesheet" id="theme-style-css" href="/Content/css/style.min.css" type="text/css" media="all" />
    <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

</head>
<body style="background: #fff;">
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
        <div id="page">
            <!-- header -->





            <section id="body-content">


                <div class="container" id="login-page">
                    <div id="body-login" class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">

                            <div id="login-form-left" class="border clearfix">
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-ms-12 col-lg-offset-2 col-md-offset-2">

                                    <form action="https://api.futabus.vn/api/auth/credentials?Continue=https://id.futabus.vn/" method="post" class="form-">
                                        <div class="form-group">
                                            <label for="">ĐÓNG GÓP Ý KIẾN*</label>

                                            <textarea rows="6" cols="40" name="description"></textarea>

                                        </div>
                                        <div class="form-group">

                                            <button class="btn btn-primary pull-right" type="submit">
                                                Gửi
                                            </button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    </div>
    </section>

</body>
</html>
