USE [master]
GO
/****** Object:  Database [DATVE]    Script Date: 5/11/2018 3:48:39 PM ******/
CREATE DATABASE [DATVE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATVE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.THANHDIEU\MSSQL\DATA\DATVE.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DATVE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.THANHDIEU\MSSQL\DATA\DATVE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATVE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATVE]
GO
/****** Object:  StoredProcedure [dbo].[SP_HoaDon_List]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_HoaDon_List]
@Email nvarchar(100)
AS
BEGIN
	select * from [dbo].[DON_HANG]  where EMAIL_DH = @Email
end



GO
/****** Object:  StoredProcedure [dbo].[SP_INFOKHACHHANG]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INFOKHACHHANG]
AS
BEGIN
	select * from KHACH_HANG
END



GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_DH]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_Insert_DH]
@EMAIL nvarchar(100),
@MaLT int,
@Sluong int,
@tong int,
@trangthai int
as
BEGIN
	declare @res int
	declare @dem int
	select @dem = count(*) from KHACH_HANG where EMAIL_KH = @EMAIL
	if(@dem > 0)
	begin
			insert into [dbo].[DON_HANG](EMAIL_DH,MA_LT,SOLUONGVE,TONG,TRANG_THAI) 
			values (@EMAIL,@MaLT,@Sluong,@tong,@trangthai)
			set @res = 1
	end
	else
	set @res = 0
	select @res
END



GO
/****** Object:  StoredProcedure [dbo].[SP_Insert_KH]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_Insert_KH]
@TEN_KH nvarchar(20),
@EMAIL_KH nvarchar(100),
@SDT_KH nvarchar(20),
@CMND_KH nvarchar(20),
@DIACHI_KH nvarchar(50),
@MATKHAU nvarchar(50),
@CONF_MATKHAU nvarchar(50)
as
BEGIN
	declare @res int
	declare @dem int
	select @dem = COUNT(*) from KHACH_HANG where EMAIL_KH = @EMAIL_KH
	if(@dem > 0 )
		begin
			set @res = 0
		end
	else
		begin
			insert into KHACH_HANG(TEN_KH,EMAIL_KH,SDT_KH,CMND_KH,DIACHI_KH,MATKHAU,CONFIRM_PASS) 
			values (@TEN_KH,@EMAIL_KH,@SDT_KH,@CMND_KH,@DIACHI_KH,@MATKHAU,@CONF_MATKHAU)
			set @res = 1
		end
	select @res
END



GO
/****** Object:  StoredProcedure [dbo].[SP_Login_Account]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_Login_Account]
@UserName nvarchar(50),
@Password nvarchar(15)
as
BEGIN
	declare @Dem1 int
	select @Dem1 = count(*) from [dbo].[KHACH_HANG] where EMAIL_KH = @UserName and MATKHAU = @Password
	if @Dem1 > 0
		select TEN_KH from KHACH_HANG where EMAIL_KH = @UserName and MATKHAU = @Password
	else select null
END




GO
/****** Object:  StoredProcedure [dbo].[SP_LoginToEmail]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_LoginToEmail]
@UserName nvarchar(50),
@Password nvarchar(15)
as
BEGIN
	declare @Dem1 int
	select @Dem1 = count(*) from [dbo].[KHACH_HANG] where EMAIL_KH = @UserName and MATKHAU = @Password
	if @Dem1 > 0
		select EMAIL_KH from KHACH_HANG where EMAIL_KH = @UserName and MATKHAU = @Password
	else select null
END




GO
/****** Object:  StoredProcedure [dbo].[SP_LoTrinh_List]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_LoTrinh_List]
@Matuyen nvarchar(15)
AS
BEGIN
	select * from [dbo].[LO_TRINH]  where MS_TUYEN = @Matuyen
end



GO
/****** Object:  StoredProcedure [dbo].[SP_LoTrinh_ListAll]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_LoTrinh_ListAll]

AS
BEGIN
	select * from [dbo].[LO_TRINH] 
end



GO
/****** Object:  StoredProcedure [dbo].[SP_LoTrinh_LT]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LoTrinh_LT]
@MaLT int
AS
BEGIN
	select * from [dbo].[LO_TRINH]  where MA_LT= @MaLT
end



GO
/****** Object:  StoredProcedure [dbo].[SP_ThanhToan_List]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_ThanhToan_List]
@Email nvarchar(100)
AS
BEGIN
	select * from  [dbo].[THANH_TOAN]  where EMAIL= @Email
end



GO
/****** Object:  StoredProcedure [dbo].[SP_TuyenDuong_ListAll]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TuyenDuong_ListAll]

AS
BEGIN
	select * from TUYEN_DUONG 
END




GO
/****** Object:  StoredProcedure [dbo].[SP_TuyenDuong_ListAll1]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_TuyenDuong_ListAll1]

AS
BEGIN
 declare @res int
	
	set @res = 0
	select @res
END




GO
/****** Object:  StoredProcedure [dbo].[SP_TuyenDuong_MT]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_TuyenDuong_MT]
@Matuyen nvarchar(15)
AS
BEGIN
	select * from [dbo].[TUYEN_DUONG]  where MS_TUYEN= @Matuyen
end



GO
/****** Object:  StoredProcedure [dbo].[SP_Update_KH]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[SP_Update_KH]
@TEN_KH nvarchar(20),
@EMAIL_KH nvarchar(100),
@SDT_KH nvarchar(20),
@CMND_KH nvarchar(20),
@DIACHI_KH nvarchar(50),
@MATKHAU nvarchar(50)
as
BEGIN
	declare @res int
	declare @dem int
	select @dem = COUNT(*) from KHACH_HANG where EMAIL_KH = @EMAIL_KH
	if(@dem > 0)
	begin
		update KHACH_HANG
		set TEN_KH = @TEN_KH , SDT_KH = @SDT_KH , CMND_KH = @CMND_KH , DIACHI_KH = @DIACHI_KH , MATKHAU = @MATKHAU
		where EMAIL_KH = @EMAIL_KH
		set @res = 1
	end
	else
	begin
		set @res = 0
	end
	select @res
END



GO
/****** Object:  Table [dbo].[DON_HANG]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_HANG](
	[MA_DH] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL_DH] [nvarchar](100) NULL,
	[MA_LT] [int] NULL,
	[SOLUONGVE] [int] NULL,
	[TONG] [int] NULL,
	[TRANG_THAI] [int] NULL,
	[EMAIL_NV] [nvarchar](100) NULL,
 CONSTRAINT [PK_DON_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_DH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[TEN_KH] [nvarchar](50) NOT NULL,
	[EMAIL_KH] [nvarchar](100) NOT NULL,
	[SDT_KH] [nvarchar](11) NULL,
	[CMND_KH] [nvarchar](9) NOT NULL,
	[DIACHI_KH] [nvarchar](100) NULL,
	[MATKHAU] [nvarchar](50) NOT NULL,
	[CONFIRM_PASS] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[EMAIL_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LO_TRINH]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LO_TRINH](
	[MA_LT] [int] IDENTITY(1,1) NOT NULL,
	[MS_TUYEN] [nvarchar](15) NULL,
	[BSXE] [nvarchar](15) NULL,
	[NGAYDI] [datetime] NULL,
	[GIO] [time](7) NULL,
	[GHE_TRONG] [int] NULL,
 CONSTRAINT [PK_LO_TRINH] PRIMARY KEY CLUSTERED 
(
	[MA_LT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MA_NV] [int] IDENTITY(1,1) NOT NULL,
	[CHUCVU] [nvarchar](15) NULL,
	[TENNV] [nvarchar](50) NULL,
	[EMAIL_NV] [nvarchar](100) NOT NULL,
	[SDT_NV] [nvarchar](11) NULL,
	[CMND_NV] [nvarchar](9) NULL,
	[DIACHI_NV] [nvarchar](100) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[CONFIRM_PASS] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHAN_VIEN_1] PRIMARY KEY CLUSTERED 
(
	[EMAIL_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THANH_TOAN]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANH_TOAN](
	[MA_TT] [int] IDENTITY(1,1) NOT NULL,
	[MA_DH] [int] NOT NULL,
	[EMAIL] [nvarchar](100) NULL,
	[NGAYMUA] [datetime] NULL,
 CONSTRAINT [PK_THANH_TOAN] PRIMARY KEY CLUSTERED 
(
	[MA_TT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TUYEN_DUONG]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYEN_DUONG](
	[MS_TUYEN] [nvarchar](15) NOT NULL,
	[BENDI] [nvarchar](15) NULL,
	[BENDEN] [nvarchar](15) NULL,
	[QUANGDUONG] [int] NULL,
	[THOIGIAN] [time](7) NULL,
	[GIAVE] [int] NULL,
 CONSTRAINT [PK_TUYEN_DUONG] PRIMARY KEY CLUSTERED 
(
	[MS_TUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[XE_KHACH]    Script Date: 5/11/2018 3:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XE_KHACH](
	[MA_BSX] [nvarchar](15) NOT NULL,
	[SOCHO] [int] NULL,
 CONSTRAINT [PK_XE_KHACH] PRIMARY KEY CLUSTERED 
(
	[MA_BSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DON_HANG] ON 

INSERT [dbo].[DON_HANG] ([MA_DH], [EMAIL_DH], [MA_LT], [SOLUONGVE], [TONG], [TRANG_THAI], [EMAIL_NV]) VALUES (5, N'binhtam117@gmail.com', 1, 1, 250000, 1, N'doan@gmail.com')
INSERT [dbo].[DON_HANG] ([MA_DH], [EMAIL_DH], [MA_LT], [SOLUONGVE], [TONG], [TRANG_THAI], [EMAIL_NV]) VALUES (1005, N'huyhung123@gmail.com', 1, 2, 500000, 1, N'doan@gmail.com')
INSERT [dbo].[DON_HANG] ([MA_DH], [EMAIL_DH], [MA_LT], [SOLUONGVE], [TONG], [TRANG_THAI], [EMAIL_NV]) VALUES (2005, N'ngocthuy2010@gmail.com', 1, 1, 250000, 1, N'dieu@gmail.com')
SET IDENTITY_INSERT [dbo].[DON_HANG] OFF
INSERT [dbo].[KHACH_HANG] ([TEN_KH], [EMAIL_KH], [SDT_KH], [CMND_KH], [DIACHI_KH], [MATKHAU], [CONFIRM_PASS]) VALUES (N'Nguyen Binh Tan', N'binhtam117@gmail.com', N'0986325504', N'231256732', N'Gò vấp, Sài Gòn', N'123', N'123')
INSERT [dbo].[KHACH_HANG] ([TEN_KH], [EMAIL_KH], [SDT_KH], [CMND_KH], [DIACHI_KH], [MATKHAU], [CONFIRM_PASS]) VALUES (N'Nguyen Thi Bich Thuy', N'binhthuy0808@gmail.com', N'0165432145', N'214569875', N'Thị trấn quảng phú , DakLak', N'123', N'123')
INSERT [dbo].[KHACH_HANG] ([TEN_KH], [EMAIL_KH], [SDT_KH], [CMND_KH], [DIACHI_KH], [MATKHAU], [CONFIRM_PASS]) VALUES (N'Pham Ngoc Huy Hung', N'huyhung123@gmail.com', N'0987039697', N'272556028', N'Xuân Lộc - Đồng Nai', N'123', N'123')
SET IDENTITY_INSERT [dbo].[LO_TRINH] ON 

INSERT [dbo].[LO_TRINH] ([MA_LT], [MS_TUYEN], [BSXE], [NGAYDI], [GIO], [GHE_TRONG]) VALUES (1, N'DALAT-SAIGON', N'51B-91196', CAST(0x0000A8F000000000 AS DateTime), CAST(0x070008D6E8290000 AS Time), 20)
INSERT [dbo].[LO_TRINH] ([MA_LT], [MS_TUYEN], [BSXE], [NGAYDI], [GIO], [GHE_TRONG]) VALUES (3, N'DAKLAK-HANOI', N'51B-18932', CAST(0x0000A8DB00000000 AS DateTime), CAST(0x07002058A3A70000 AS Time), 40)
INSERT [dbo].[LO_TRINH] ([MA_LT], [MS_TUYEN], [BSXE], [NGAYDI], [GIO], [GHE_TRONG]) VALUES (4, N'DAKLAK-HANOI', N'51B-18932', CAST(0x0000A8D800000000 AS DateTime), CAST(0x070040230E430000 AS Time), 40)
SET IDENTITY_INSERT [dbo].[LO_TRINH] OFF
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] ON 

INSERT [dbo].[NHAN_VIEN] ([MA_NV], [CHUCVU], [TENNV], [EMAIL_NV], [SDT_NV], [CMND_NV], [DIACHI_NV], [MATKHAU], [CONFIRM_PASS]) VALUES (1009, N'TIEPVIEN', N'Thanh Dieu', N'dieu@gmail.com', N'01234567899', N'275418820', N'q.9', N'202cb962ac59075b964b07152d234b70', N'202cb962ac59075b964b07152d234b70')
INSERT [dbo].[NHAN_VIEN] ([MA_NV], [CHUCVU], [TENNV], [EMAIL_NV], [SDT_NV], [CMND_NV], [DIACHI_NV], [MATKHAU], [CONFIRM_PASS]) VALUES (10, N'GIAMDOC', N'Trung Doan', N'doan@gmail.com', N'01234567891', N'123456789', N'q.9', N'202cb962ac59075b964b07152d234b70', N'202cb962ac59075b964b07152d234b70')
INSERT [dbo].[NHAN_VIEN] ([MA_NV], [CHUCVU], [TENNV], [EMAIL_NV], [SDT_NV], [CMND_NV], [DIACHI_NV], [MATKHAU], [CONFIRM_PASS]) VALUES (1017, N'TAIXE', N'Huy Hung', N'hung@gmail.com', N'01234567819', N'635241121', N'Khánh Hòa', N'202cb962ac59075b964b07152d234b70', N'202cb962ac59075b964b07152d234b70')
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] OFF
SET IDENTITY_INSERT [dbo].[THANH_TOAN] ON 

INSERT [dbo].[THANH_TOAN] ([MA_TT], [MA_DH], [EMAIL], [NGAYMUA]) VALUES (1006, 2005, N'ngocthuy2010@gmail.com', CAST(0x0000A8DA00000000 AS DateTime))
INSERT [dbo].[THANH_TOAN] ([MA_TT], [MA_DH], [EMAIL], [NGAYMUA]) VALUES (1007, 1005, N'huyhung123@gmail.com', CAST(0x0000A8DC00000000 AS DateTime))
INSERT [dbo].[THANH_TOAN] ([MA_TT], [MA_DH], [EMAIL], [NGAYMUA]) VALUES (1008, 2007, N'ngocthuy2010@gmail.com', CAST(0x0000A8DC00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[THANH_TOAN] OFF
INSERT [dbo].[TUYEN_DUONG] ([MS_TUYEN], [BENDI], [BENDEN], [QUANGDUONG], [THOIGIAN], [GIAVE]) VALUES (N'DAKLAK-HANOI', N'Dak Lak', N'Hà Nội', 1271, CAST(0x070058A5C8C00000 AS Time), 1000000)
INSERT [dbo].[TUYEN_DUONG] ([MS_TUYEN], [BENDI], [BENDEN], [QUANGDUONG], [THOIGIAN], [GIAVE]) VALUES (N'DAKLAK-SAIGON', N'Dak Lak', N'Sài Gòn', 380, CAST(0x070040230E430000 AS Time), 250000)
INSERT [dbo].[TUYEN_DUONG] ([MS_TUYEN], [BENDI], [BENDEN], [QUANGDUONG], [THOIGIAN], [GIAVE]) VALUES (N'DALAT-NHATRANG', N'Đà Lạt', N'Nha Trang', 300, CAST(0x0700A47C7B360000 AS Time), 200000)
INSERT [dbo].[XE_KHACH] ([MA_BSX], [SOCHO]) VALUES (N'47A-12344', 16)
INSERT [dbo].[XE_KHACH] ([MA_BSX], [SOCHO]) VALUES (N'50A-76856', 48)
INSERT [dbo].[XE_KHACH] ([MA_BSX], [SOCHO]) VALUES (N'51B-18932', 50)
SET ANSI_PADDING ON

GO
/****** Object:  Index [THEO_FK]    Script Date: 5/11/2018 3:48:40 PM ******/
CREATE NONCLUSTERED INDEX [THEO_FK] ON [dbo].[LO_TRINH]
(
	[MS_TUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CO_FK]    Script Date: 5/11/2018 3:48:40 PM ******/
CREATE NONCLUSTERED INDEX [CO_FK] ON [dbo].[NHAN_VIEN]
(
	[CHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_HANG_KHACH_HANG] FOREIGN KEY([EMAIL_DH])
REFERENCES [dbo].[KHACH_HANG] ([EMAIL_KH])
GO
ALTER TABLE [dbo].[DON_HANG] CHECK CONSTRAINT [FK_DON_HANG_KHACH_HANG]
GO
ALTER TABLE [dbo].[DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_HANG_LO_TRINH] FOREIGN KEY([MA_LT])
REFERENCES [dbo].[LO_TRINH] ([MA_LT])
GO
ALTER TABLE [dbo].[DON_HANG] CHECK CONSTRAINT [FK_DON_HANG_LO_TRINH]
GO
ALTER TABLE [dbo].[DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_HANG_NHAN_VIEN] FOREIGN KEY([EMAIL_NV])
REFERENCES [dbo].[NHAN_VIEN] ([EMAIL_NV])
GO
ALTER TABLE [dbo].[DON_HANG] CHECK CONSTRAINT [FK_DON_HANG_NHAN_VIEN]
GO
ALTER TABLE [dbo].[LO_TRINH]  WITH CHECK ADD  CONSTRAINT [FK_LO_TRINH_TUYEN_DUONG] FOREIGN KEY([MS_TUYEN])
REFERENCES [dbo].[TUYEN_DUONG] ([MS_TUYEN])
GO
ALTER TABLE [dbo].[LO_TRINH] CHECK CONSTRAINT [FK_LO_TRINH_TUYEN_DUONG]
GO
ALTER TABLE [dbo].[LO_TRINH]  WITH CHECK ADD  CONSTRAINT [FK_LO_TRINH_XE_KHACH] FOREIGN KEY([BSXE])
REFERENCES [dbo].[XE_KHACH] ([MA_BSX])
GO
ALTER TABLE [dbo].[LO_TRINH] CHECK CONSTRAINT [FK_LO_TRINH_XE_KHACH]
GO
ALTER TABLE [dbo].[THANH_TOAN]  WITH CHECK ADD  CONSTRAINT [FK_THANH_TOAN_DON_HANG] FOREIGN KEY([MA_DH])
REFERENCES [dbo].[DON_HANG] ([MA_DH])
GO
ALTER TABLE [dbo].[THANH_TOAN] CHECK CONSTRAINT [FK_THANH_TOAN_DON_HANG]
GO
ALTER TABLE [dbo].[THANH_TOAN]  WITH CHECK ADD  CONSTRAINT [FK_THANH_TOAN_KHACH_HANG] FOREIGN KEY([EMAIL])
REFERENCES [dbo].[KHACH_HANG] ([EMAIL_KH])
GO
ALTER TABLE [dbo].[THANH_TOAN] CHECK CONSTRAINT [FK_THANH_TOAN_KHACH_HANG]
GO
USE [master]
GO
