USE [TMDT]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 11-May-18 4:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [nvarchar](10) NOT NULL,
	[TENDV] [nvarchar](50) NULL,
	[MIEUTA] [text] NULL,
	[DONGIA] [real] NULL,
	[TRANGTHAI] [bit] NULL,
	[HINHANH] [text] NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSDATTRUOC]    Script Date: 11-May-18 4:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSDATTRUOC](
	[MALDT] [int] NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[NGAYTRA] [datetime] NOT NULL,
	[MAKH] [nvarchar](10) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[MALOAIPHONG] [nvarchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_DSDATTRUOC] PRIMARY KEY CLUSTERED 
(
	[MALDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSHOADON]    Script Date: 11-May-18 4:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSHOADON](
	[MAHD] [int] NOT NULL,
	[MALDT] [int] NOT NULL,
	[TONGTIEN] [real] NOT NULL,
	[NGAYTHANHTOAN] [datetime] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[THANHTOAN] [bit] NULL,
 CONSTRAINT [PK_DSHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSLOAIPHONGTRONG]    Script Date: 11-May-18 4:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSLOAIPHONGTRONG](
	[NGAY] [date] NOT NULL,
	[MALOAIPHONG] [nvarchar](10) NOT NULL,
	[SOLUONGTRONG] [int] NOT NULL,
 CONSTRAINT [PK_DSLOAIPHONGTRONG] PRIMARY KEY CLUSTERED 
(
	[NGAY] ASC,
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSPHONG]    Script Date: 11-May-18 4:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSPHONG](
	[MAPHONG] [nvarchar](10) NOT NULL,
	[MALOAIPHONG] [nvarchar](10) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_DSPHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DSPHONGDADAT]    Script Date: 11-May-18 4:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSPHONGDADAT](
	[NGAY] [date] NOT NULL,
	[MAPHONG] [nvarchar](10) NOT NULL,
	[MALDT] [int] NOT NULL,
 CONSTRAINT [PK_DSPHONGDADAT] PRIMARY KEY CLUSTERED 
(
	[NGAY] ASC,
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GOPY]    Script Date: 11-May-18 4:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOPY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[NOIDUNG] [nvarchar](500) NULL,
 CONSTRAINT [PK_GOPY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11-May-18 4:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[LOAIKH] [nvarchar](10) NULL,
	[SDT] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SOCMND] [nvarchar](50) NULL,
	[USERNAME] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 11-May-18 4:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](100) NULL,
	[MA] [bit] NULL,
 CONSTRAINT [PK_LOGIN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MALOAIPHONG]    Script Date: 11-May-18 4:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MALOAIPHONG](
	[MALOAIPHONG] [nvarchar](10) NOT NULL,
	[TENLOAIPHONG] [nvarchar](50) NOT NULL,
	[MIEUTA] [nvarchar](max) NULL,
	[HINHANH] [text] NOT NULL,
	[SOLUONGKHACH] [int] NOT NULL,
	[DONGIA] [real] NOT NULL,
	[SOLUONGPHONG] [int] NOT NULL,
 CONSTRAINT [PK_MALOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11-May-18 4:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[SDT] [nvarchar](50) NULL,
	[USERNAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[DSPHONG] ([MAPHONG], [MALOAIPHONG], [TRANGTHAI]) VALUES (N'p1', N'vip1', 1)
INSERT [dbo].[DSPHONG] ([MAPHONG], [MALOAIPHONG], [TRANGTHAI]) VALUES (N'p10', N'vip1', 1)
INSERT [dbo].[DSPHONG] ([MAPHONG], [MALOAIPHONG], [TRANGTHAI]) VALUES (N'p11', N'vip2', 1)
INSERT [dbo].[MALOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [MIEUTA], [HINHANH], [SOLUONGKHACH], [DONGIA], [SOLUONGPHONG]) VALUES (N'cc1', N'Cao Cấp', N'Đây là loại phòng có chất lượng cao hơn phòng Tiêu Chuẩn với diện tích lớn hơn, được trang bị nhiều trang thiết bị tiện nghi, có view đẹp. 
Vì chất lượng phòng tốt hơn nên mức giá thuê phòng Cao cấp cũng sẽ cao hơn phòng Tiêu Chuẩn.', N'fecwsd', 1, 700000, 10)
INSERT [dbo].[MALOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [MIEUTA], [HINHANH], [SOLUONGKHACH], [DONGIA], [SOLUONGPHONG]) VALUES (N'cc2', N'Cao Cấp', N'Đây là loại phòng có chất lượng cao hơn phòng Tiêu Chuẩn với diện tích lớn hơn, được trang bị nhiều trang thiết bị tiện nghi, có view đẹp. 
Vì chất lượng phòng tốt hơn nên mức giá thuê phòng Cao cấp cũng sẽ cao hơn phòng Tiêu Chuẩn.', N'dsfcd', 2, 1400000, 10)
INSERT [dbo].[MALOAIPHONG] ([MALOAIPHONG], [TENLOAIPHONG], [MIEUTA], [HINHANH], [SOLUONGKHACH], [DONGIA], [SOLUONGPHONG]) VALUES (N'cc3', N'Cao Cấp', N'Đây là loại phòng có chất lượng cao hơn phòng Tiêu Chuẩn với diện tích lớn hơn, được trang bị nhiều trang thiết bị tiện nghi, có view đẹp. 
Vì chất lượng phòng tốt hơn nên mức giá thuê phòng Cao cấp cũng sẽ cao hơn phòng Tiêu Chuẩn.', N'dsf', 4, 2500000, 10)
ALTER TABLE [dbo].[DSDATTRUOC]  WITH CHECK ADD  CONSTRAINT [FK_DSDATTRUOC_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DSDATTRUOC] CHECK CONSTRAINT [FK_DSDATTRUOC_KHACHHANG]
GO
ALTER TABLE [dbo].[DSDATTRUOC]  WITH CHECK ADD  CONSTRAINT [FK_DSDATTRUOC_MALOAIPHONG] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[MALOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[DSDATTRUOC] CHECK CONSTRAINT [FK_DSDATTRUOC_MALOAIPHONG]
GO
ALTER TABLE [dbo].[DSHOADON]  WITH CHECK ADD  CONSTRAINT [FK_DSHOADON_DSDATTRUOC] FOREIGN KEY([MALDT])
REFERENCES [dbo].[DSDATTRUOC] ([MALDT])
GO
ALTER TABLE [dbo].[DSHOADON] CHECK CONSTRAINT [FK_DSHOADON_DSDATTRUOC]
GO
ALTER TABLE [dbo].[DSLOAIPHONGTRONG]  WITH CHECK ADD  CONSTRAINT [FK_DSLOAIPHONGTRONG_MALOAIPHONG] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[MALOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[DSLOAIPHONGTRONG] CHECK CONSTRAINT [FK_DSLOAIPHONGTRONG_MALOAIPHONG]
GO
ALTER TABLE [dbo].[DSPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DSPHONG_MALOAIPHONG] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[MALOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[DSPHONG] CHECK CONSTRAINT [FK_DSPHONG_MALOAIPHONG]
GO
ALTER TABLE [dbo].[DSPHONGDADAT]  WITH CHECK ADD  CONSTRAINT [FK_DSPHONGDADAT_DSDATTRUOC] FOREIGN KEY([MALDT])
REFERENCES [dbo].[DSDATTRUOC] ([MALDT])
GO
ALTER TABLE [dbo].[DSPHONGDADAT] CHECK CONSTRAINT [FK_DSPHONGDADAT_DSDATTRUOC]
GO
ALTER TABLE [dbo].[DSPHONGDADAT]  WITH CHECK ADD  CONSTRAINT [FK_DSPHONGDADAT_DSPHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[DSPHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[DSPHONGDADAT] CHECK CONSTRAINT [FK_DSPHONGDADAT_DSPHONG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_LOGIN] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[LOGIN] ([USERNAME])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_LOGIN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_LOGIN] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[LOGIN] ([USERNAME])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_LOGIN]
GO
